body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #333;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.form-control {
  background-color: #444;
  border: 1px solid #555;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.form-control:focus {
  background-color: #555;
  color: #fff;
  border: 1px solid #007bff;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.invalid-feedback {
  color: #f00;
  font-size: 12px;
}

.alert-danger {
  background-color: #dc3545;
  color: #fff;
  border-radius: 5px;
}

.alert-success {
  background-color: #28a745;
  color: #fff;
  border-radius: 5px;
}

.h2 {
  text-align: center;
  color: #dc3545;
}
